<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Ryne J. Vitek as his first assignment in The Firehose Project, an intensive web development program.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <br />
  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'Ryne_n_Franklin_3.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Ryne J. Vitek</h2>
  	<br />
  	<p>Digital Media Producer, Video Editor, and Graphic Designer. Currently, freelance web/graphic design and full-time student. Lives to strum the old guitar around a good bonfire and jog cross-country.
  	</p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />